<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Operations</key>
	<dict>
		<key>Set</key>
		<dict>
			<key>operationIndex</key>
			<integer>0</integer>
			<key>iconFileName</key>
			<string>OperationSet.png</string>
		</dict>
		<key>Increment</key>
		<dict>
			<key>operationIndex</key>
			<integer>1</integer>
			<key>iconFileName</key>
			<string>OperationIncrement.png</string>
		</dict>
		<key>Decrement</key>
		<dict>
			<key>operationIndex</key>
			<integer>2</integer>
			<key>iconFileName</key>
			<string>OperationDecrement.png</string>
		</dict>
		<key>Multiply</key>
		<dict>
			<key>operationIndex</key>
			<integer>3</integer>
			<key>iconFileName</key>
			<string>OperationMultiply.png</string>
		</dict>
		<key>Divide</key>
		<dict>
			<key>operationIndex</key>
			<integer>4</integer>
			<key>iconFileName</key>
			<string>OperationDivide.png</string>
		</dict>
		<key>Append</key>
		<dict>
			<key>operationIndex</key>
			<integer>5</integer>
			<key>iconFileName</key>
			<string>OperationAppend.png</string>
		</dict>
		<key>Prepend</key>
		<dict>
			<key>operationIndex</key>
			<integer>6</integer>
			<key>iconFileName</key>
			<string>OperationPrepend.png</string>
		</dict>
		<key>Toggle</key>
		<dict>
			<key>operationIndex</key>
			<integer>7</integer>
			<key>iconFileName</key>
			<string>OperationPrepend.png</string>
		</dict>
	</dict>
	<key>Properties</key>
	<dict>
		<key>StringSimple</key>
		<array>
			<string>Append</string>
			<string>Prepend</string>
			<string>Set</string>
		</array>
		<key>Text</key>
		<array>
			<string>Append</string>
			<string>Prepend</string>
			<string>Set</string>
		</array>
		<key>Float</key>
		<array>
			<string>Divide</string>
			<string>Decrement</string>
			<string>Multiply</string>
			<string>Set</string>
			<string>Increment</string>
		</array>
		<key>Color</key>
		<array>
			<string>Set</string>
		</array>
		<key>Image</key>
		<array>
			<string>Set</string>
		</array>
		<key>FloatXY</key>
		<array>
			<string>Divide</string>
			<string>Decrement</string>
			<string>Multiply</string>
			<string>Set</string>
			<string>Increment</string>
		</array>
		<key>Check</key>
		<array>
			<string>Set</string>
			<string>Toggle</string>
		</array>
		<key>Flip</key>
		<array>
			<string>Set</string>
			<string>Toggle</string>
		</array>
		<key>Expression</key>
		<array>
			<string>Set</string>
		</array>
		<key>ExpressionPair</key>
		<array>
			<string>Set</string>
		</array>
	</dict>
</dict>
</plist>
