<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>Drawing and Signatures</string>
	<key>javaScriptClassName</key>
	<string>FingerPaintView</string>
	<key>ordering</key>
	<real>4000</real>
	<key>description</key>
	<string>A resizeable area that the user can write or draw in.</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>className</key>
	<string>PCFingerPaintView</string>
	<key>actionChangeableProperties</key>
	<array>
		<dict>
			<key>inspectorLabels</key>
			<array>
				<dict>
					<key>propertyName</key>
					<string>color</string>
					<key>displayName</key>
					<string>Color</string>
				</dict>
			</array>
			<key>displayName</key>
			<string>Color</string>
			<key>inspectorType</key>
			<string>Color</string>
			<key>propertyName</key>
			<string>color</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>Color Layer</string>
			<key>name</key>
			<string>CCNodeColor</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>type</key>
			<string>Check</string>
			<key>default</key>
			<true/>
			<key>name</key>
			<string>pressToShowColorPalette</string>
			<key>displayName</key>
			<string>Long press to show color palette</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>opacity</string>
			</array>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<array>
				<real>0.9</real>
				<real>0.9</real>
				<real>0.9</real>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>color</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>default</key>
			<integer>12</integer>
			<key>displayName</key>
			<string>Line width</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>lineWidth</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<real>0.1</real>
				<real>0.1</real>
				<real>0.1</real>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Line color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>lineColor</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
	</array>
	<key>editorClassName</key>
	<string>PCBFingerPaintView</string>
	<key>editorSpriteKitClassName</key>
	<string>PCBSKFingerPaintView</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>default</key>
			<array>
				<integer>520</integer>
				<integer>120</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>PCSprite</string>
		<key>property</key>
		<string>spriteFrame</string>
	</dict>
</dict>
</plist>
