<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ordering</key>
	<integer>6000</integer>
	<key>displayName</key>
	<string>Image</string>
	<key>javaScriptClassName</key>
	<string>ImageView</string>
	<key>description</key>
	<string>Displays a texture.</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>className</key>
	<string>PCSprite</string>
	<key>spriteKitClassName</key>
	<string>CCSprite</string>
	<key>actionChangeableProperties</key>
	<array>
		<dict>
			<key>inspectorLabels</key>
			<array>
				<dict>
					<key>propertyName</key>
					<string>texture</string>
					<key>displayName</key>
					<string>Image</string>
				</dict>
			</array>
			<key>displayName</key>
			<string>Image</string>
			<key>inspectorType</key>
			<string>Image</string>
			<key>propertyName</key>
			<string>texture</string>
		</dict>
		<dict>
			<key>inspectorLabels</key>
			<array>
				<dict>
					<key>propertyName</key>
					<string>flipY</string>
					<key>displayName</key>
					<string>Flip Y</string>
				</dict>
			</array>
			<key>displayName</key>
			<string>Flip Y</string>
			<key>inspectorType</key>
			<string>Check</string>
			<key>propertyName</key>
			<string>flipY</string>
		</dict>
		<dict>
			<key>inspectorLabels</key>
			<array>
				<dict>
					<key>propertyName</key>
					<string>flipX</string>
					<key>displayName</key>
					<string>Flip X</string>
				</dict>
			</array>
			<key>displayName</key>
			<string>Flip X</string>
			<key>inspectorType</key>
			<string>Check</string>
			<key>propertyName</key>
			<string>flipX</string>
		</dict>
		<dict>
			<key>inspectorLabels</key>
			<array>
				<dict>
					<key>propertyName</key>
					<string>color</string>
					<key>displayName</key>
					<string>Color</string>
				</dict>
			</array>
			<key>displayName</key>
			<string>Color</string>
			<key>inspectorType</key>
			<string>Color</string>
			<key>propertyName</key>
			<string>color</string>
		</dict>
	</array>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>PCSprite</string>
		<key>property</key>
		<string>spriteFrame</string>
	</dict>
	<key>editorClassName</key>
	<string>CCBPSprite</string>
	<key>editorSpriteKitClassName</key>
	<string>CCBPSKSprite</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
			<key>scriptingInfo</key>
			<dict>
				<key>disabled</key>
				<true/>
			</dict>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>Image</string>
			<key>name</key>
			<string>CCSprite</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<string></string>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Image</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>spriteFrame</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>opacity</string>
			</array>
			<key>defaultSerialization</key>
			<array>
				<integer>255</integer>
				<integer>255</integer>
				<integer>255</integer>
			</array>
			<key>animatable</key>
			<true/>
			<key>displayName</key>
			<string>Tint Color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>color</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
