<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>Web View</string>
	<key>javaScriptClassName</key>
	<string>WebView</string>
	<key>ordering</key>
	<real>4000</real>
	<key>description</key>
	<string>Embed an existing website or web page.</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>PCWebViewNode</string>
	<key>editorClassName</key>
	<string>PCWebViewNode</string>
	<key>editorSpriteKitClassName</key>
	<string>PCSKWebViewNode</string>
	<key>actionChangeableProperties</key>
	<array>
		<dict>
			<key>inspectorLabels</key>
			<array>
				<dict>
					<key>propertyName</key>
					<string>path</string>
					<key>displayName</key>
					<string>URL</string>
				</dict>
			</array>
			<key>displayName</key>
			<string>URL</string>
			<key>inspectorType</key>
			<string>String</string>
			<key>propertyName</key>
			<string>path</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>Web View</string>
			<key>name</key>
			<string>PCWebViewNode</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<string>http://google.com</string>
			<key>hidden</key>
			<true/>
			<key>displayName</key>
			<string>URL</string>
			<key>type</key>
			<string>StringSimple</string>
			<key>name</key>
			<string>path</string>
		</dict>
		<dict>
			<key>default</key>
			<string>http://google.com</string>
			<key>displayName</key>
			<string>Current url</string>
			<key>hidden</key>
			<true/>
			<key>type</key>
			<string>StringSimple</string>
			<key>name</key>
			<string>currentURL</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>default</key>
			<string>http://google.com</string>
			<key>displayName</key>
			<string>Home url</string>
			<key>type</key>
			<string>StringSimple</string>
			<key>name</key>
			<string>homeURL</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>type</key>
			<string>Degrees</string>
			<key>name</key>
			<string>rotation</string>
			<key>displayName</key>
			<string>Rotation</string>
		</dict>
		<dict>
			<key>default</key>
			<string>WebView</string>
			<key>type</key>
			<string>StringSimple</string>
			<key>name</key>
			<string>name</string>
			<key>displayName</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>400</integer>
				<integer>400</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>default</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>anchorPoint</string>
			<key>displayName</key>
			<string>Anchor point</string>
		</dict>
		<dict>
			<key>animatable</key>
			<false/>
			<key>type</key>
			<string>ScaleLock</string>
			<key>name</key>
			<string>scale</string>
			<key>displayName</key>
			<string>Scale</string>
			<key>readOnly</key>
			<string>YES</string>
		</dict>
	</array>
</dict>
</plist>
