<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>secondString</key>
	<string>&apos;</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*function\s+.*\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string>function </string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>if</string>
		<string>else</string>
		<string>for</string>
		<string>in</string>
		<string>while</string>
		<string>do</string>
		<string>continue</string>
		<string>break</string>
		<string>with</string>
		<string>try</string>
		<string>catch</string>
		<string>switch</string>
		<string>case</string>
		<string>new</string>
		<string>var</string>
		<string>function</string>
		<string>return</string>
		<string>delete</string>
		<string>true</string>
		<string>false</string>
		<string>void</string>
		<string>throw</string>
		<string>typeof</string>
		<string>default</string>
		<string>isFinite</string>
		<string>isNaN</string>
		<string>Number</string>
		<string>parseFloat</string>
		<string>parseInt</string>
		<string>Array</string>
		<string>Boolean</string>
		<string>Date</string>
		<string>Math</string>
		<string>random</string>
		<string>Object</string>
		<string>String</string>
		<string>this</string>
		<string>log</string>
		<string>on</string>
		<string>arguments</string>
		<string>caller</string>
		<string>charAt</string>
		<string>charCodeAt</string>
		<string>constructor</string>
		<string>data</string>
		<string>description</string>
		<string>fromCharCode</string>
		<string>getDate</string>
		<string>getDay</string>
		<string>getHours</string>
		<string>getMiliseconds</string>
		<string>getMinutes</string>
		<string>getMonth</string>
		<string>getSeconds</string>
		<string>getSelection</string>
		<string>getTime</string>
		<string>getTimezoneOffset</string>
		<string>getUTCDate</string>
		<string>getUTCDay</string>
		<string>getUTCFullYear</string>
		<string>getUTCHours</string>
		<string>getUTCMilliseconds</string>
		<string>getUTCMinutes</string>
		<string>getUTCMonth</string>
		<string>getUTCSeconds</string>
		<string>getYear</string>
		<string>indexOf</string>
		<string>join</string>
		<string>length</string>
		<string>MIN_VALUE</string>
		<string>MAX_VALUE</string>
		<string>NaN</string>
		<string>NEGATIVE_INFINITY</string>
		<string>POSITIVE_INFINITY</string>
		<string>push</string>
		<string>setDate</string>
		<string>setHours</string>
		<string>setMinutes</string>
		<string>setMonth</string>
		<string>setSeconds</string>
		<string>setTime</string>
		<string>setTimeout</string>
		<string>setUTCDate</string>
		<string>setUTCDay</string>
		<string>setUTCFullYear</string>
		<string>setUTCHours</string>
		<string>setUTCMilliseconds</string>
		<string>setUTCMinutes</string>
		<string>setUTCMonth</string>
		<string>setUTCSeconds</string>
		<string>setYear</string>
		<string>shift</string>
		<string>sort</string>
		<string>splice</string>
		<string>split</string>
		<string>substr</string>
		<string>substring</string>
		<string>test</string>
		<string>unshift</string>
		<string>width</string>
		<string>height</string>
		<string>x</string>
		<string>y</string>
	</array>
	<key>autocompleteWords</key>
	<array>
		<string>Event</string>
		<string>Card</string>
		<string>goToNextCard</string>
		<string>goToPreviousCard</string>
		<string>goToCard</string>
	</array>
</dict>
</plist>
