<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>Shapes</string>
	<key>javaScriptClassName</key>
	<string>Shape</string>
	<key>ordering</key>
	<real>4000</real>
	<key>description</key>
	<string>Create a resizeable rectangle, triangle, or square.</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>className</key>
	<string>PCShapeNode</string>
	<key>editorClassName</key>
	<string>PCShapeNode</string>
	<key>editorSpriteKitClassName</key>
	<string>PCSKShapeNode</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>Shape</string>
			<key>name</key>
			<string>PCShapeNode</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<dict>
				<key>value</key>
				<integer>0</integer>
				<key>parameters</key>
				<dict>
					<key>fillColor</key>
					<array>
						<string>1</string>
						<string>1</string>
						<string>1</string>
						<string>1</string>
					</array>
					<key>strokeColor</key>
					<array>
						<string>0.5</string>
						<string>0.5</string>
						<string>0.5</string>
						<string>1</string>
					</array>
					<key>stroke</key>
					<true/>
					<key>fill</key>
					<true/>
					<key>strokeWidth</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>extra</key>
			<string>PCShapeNodeDescription</string>
			<key>animatable</key>
			<false/>
			<key>displayName</key>
			<string>Shape</string>
			<key>type</key>
			<string>PCShape</string>
			<key>name</key>
			<string>shapeInfo</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shape type</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>hidden</key>
			<true/>
			<key>default</key>
			<integer>0</integer>
			<key>name</key>
			<string>shapeType</string>
			<key>extra</key>
			<string>Rectangle|0|Ellipse|1|Triangle|2</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>hidden</key>
			<true/>
			<key>displayName</key>
			<string>Fill color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>fillColor</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>hidden</key>
			<true/>
			<key>displayName</key>
			<string>Stroke color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>strokeColor</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>defaultSerialization</key>
			<true/>
			<key>hidden</key>
			<true/>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>stroke</string>
			<key>displayName</key>
			<string>Stroke</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>defaultSerialization</key>
			<true/>
			<key>hidden</key>
			<true/>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>fill</string>
			<key>displayName</key>
			<string>Fill</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>defaultSerialization</key>
			<true/>
			<key>hidden</key>
			<true/>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>strokeWidth</string>
			<key>displayName</key>
			<string>Stroke width</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>default</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>PCSprite</string>
		<key>property</key>
		<string>spriteFrame</string>
	</dict>
	<key>actionChangeableProperties</key>
	<array/>
</dict>
</plist>
