<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>3D Supply</string>
	<key>javaScriptClassName</key>
	<string>ThreeDView</string>
	<key>ordering</key>
	<real>4000</real>
	<key>description</key>
	<string>3D Supply</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>PC3DNode</string>
	<key>editorClassName</key>
	<string>PC3DNode</string>
	<key>editorSpriteKitClassName</key>
	<string>PC3DNode</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>3D Supply</string>
			<key>name</key>
			<string>CCBPProperties.plist</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Enable User Rotation</string>
			<key>name</key>
			<string>enableUserRotation</string>
			<key>default</key>
			<integer>1</integer>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Enable Default Lighting</string>
			<key>name</key>
			<string>defaultLighting</string>
			<key>default</key>
			<integer>1</integer>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Rotation X</string>
			<key>name</key>
			<string>xRotation3D</string>
			<key>type</key>
			<string>Degrees</string>
			<key>animatable</key>
			<true/>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Rotation Y</string>
			<key>name</key>
			<string>yRotation3D</string>
			<key>type</key>
			<string>Degrees</string>
			<key>animatable</key>
			<true/>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Rotation Z</string>
			<key>name</key>
			<string>zRotation3D</string>
			<key>type</key>
			<string>Degrees</string>
			<key>animatable</key>
			<true/>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>hidden</key>
			<true/>
			<key>displayName</key>
			<string>File Path</string>
			<key>name</key>
			<string>filePath</string>
			<key>type</key>
			<string>ResourceUUID</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3D Animations</string>
			<key>name</key>
			<string>CCBPProperties.plist</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3D Animations</string>
			<key>dontSetInEditor</key>
			<true/>
			<key>name</key>
			<string>PC3DAnimation</string>
			<key>type</key>
			<string>PC3DAnimation</string>
		</dict>
		<dict>
			<key>hidden</key>
			<true/>
			<key>displayName</key>
			<string>Text Field</string>
			<key>type</key>
			<string>Text</string>
			<key>name</key>
			<string>selectedAnimationName</string>
		</dict>
		<dict>
			<key>hidden</key>
			<true/>
			<key>type</key>
			<string>Dictionary</string>
			<key>name</key>
			<string>cachedAnimations</string>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>type</key>
			<string>Degrees</string>
			<key>name</key>
			<string>rotation</string>
			<key>displayName</key>
			<string>Rotation</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>default</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>anchorPoint</string>
			<key>displayName</key>
			<string>Anchor Point</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>320</integer>
				<integer>240</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
		<dict>
			<key>default</key>
			<string>3DSupply</string>
			<key>type</key>
			<string>StringSimple</string>
			<key>name</key>
			<string>name</string>
			<key>displayName</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>animatable</key>
			<false/>
			<key>type</key>
			<string>ScaleLock</string>
			<key>name</key>
			<string>scale</string>
			<key>displayName</key>
			<string>Scale</string>
			<key>readOnly</key>
			<string>YES</string>
		</dict>
	</array>
	<key>migratedProperties</key>
	<array>
		<dict>
			<key>originalName</key>
			<string>allowCameraControl</string>
			<key>newName</key>
			<string>enableUserRotation</string>
		</dict>
	</array>
</dict>
</plist>
