<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>representationTemplate</key>
	<string>{{{ objectExpression }}}.addLongPressRecognizer(1, 0);\n{{{ objectExpression }}}.on(&apos;longPressBegan&apos;, function({{{ exposedTokens }}}) {\nif (numberOfTaps !== 0 || numberOfTouches !== 1) return;\n{{{ thens }}}\n})</string>
	<key>analyticsString</key>
	<string>When Long Press</string>
</dict>
</plist>
