<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>representationTemplate</key>
	<string>{{{ tableExpression }}}.on(&apos;cellSelected&apos;, function({{{ exposedTokens }}}) {\nif (arguments[0] !== {{{ cellExpression }}}) return;\n{{{ thens }}}\n})</string>
	<key>analyticsString</key>
	<string>When Table Cell is Pressed</string>
</dict>
</plist>
