<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>representationTemplate</key>
	<string>Event.on(&apos;timelineFinished&apos;, function({{{ exposedTokens }}}) {\nif (arguments[0] !== {{{ timelineExpression }}}) return;\n{{{ thens }}}\n})</string>
	<key>analyticsString</key>
	<string>When Timeline Finishes</string>
</dict>
</plist>
