<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ordering</key>
	<real>1000</real>
	<key>displayName</key>
	<string>Layer</string>
	<key>javaScriptClassName</key>
	<string>BaseNode</string>
	<key>description</key>
	<string>Non-visual node. Mainly used to group other nodes.</string>
	<key>className</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>editorClassName</key>
	<string>PCNode</string>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>PCSprite</string>
		<key>property</key>
		<string>spriteFrame</string>
	</dict>
	<key>properties</key>
	<array>
		<dict>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
			<key>displayName</key>
			<string>Layer</string>
			<key>name</key>
			<string>CCNode</string>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>defaultSerialization</key>
			<true/>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>visible</string>
			<key>displayName</key>
			<string>Visible</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>type</key>
			<string>Check</string>
			<key>displayName</key>
			<string>User Interaction Enabled</string>
			<key>name</key>
			<string>userInteractionEnabled</string>
			<key>scriptingInfo</key>
			<dict/>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>name</string>
				<string>displayName</string>
			</array>
			<key>name</key>
			<string>displayName</string>
			<key>displayName</key>
			<string>Name</string>
			<key>type</key>
			<string>StringSimple</string>
			<key>placeholderKey</key>
			<string>generatedName</string>
			<key>calculated</key>
			<true/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>displayName</string>
			</array>
			<key>hidden</key>
			<true/>
			<key>name</key>
			<string>name</string>
			<key>displayName</key>
			<string>Name</string>
			<key>type</key>
			<string>StringSimple</string>
			<key>placeholderKey</key>
			<string>generatedName</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>animatable</key>
			<true/>
			<key>displayName</key>
			<string>Position</string>
			<key>type</key>
			<string>Position</string>
			<key>name</key>
			<string>position</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>default</key>
			<array>
				<string>0</string>
				<integer>0</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>position</string>
			</array>
			<key>stepAmount</key>
			<real>0.1</real>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>anchorPoint</string>
			<key>editorName</key>
			<string>positionAgnosticAnchorPoint</string>
			<key>displayName</key>
			<string>Anchor point</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>stepAmount</key>
			<real>0.1</real>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>animatable</key>
			<true/>
			<key>type</key>
			<string>ScaleLock</string>
			<key>name</key>
			<string>scale</string>
			<key>displayName</key>
			<string>Scale</string>
			<key>scriptingInfo</key>
			<dict>
				<key>propertyName</key>
				<string>scalePoint</string>
			</dict>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>color</string>
			</array>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Opacity</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>opacity</string>
			<key>stepAmount</key>
			<real>0.05</real>
			<key>maximum</key>
			<real>1</real>
			<key>minimum</key>
			<real>0</real>
			<key>multiplier</key>
			<real>100</real>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>animatable</key>
			<true/>
			<key>type</key>
			<string>Degrees</string>
			<key>name</key>
			<string>rotation</string>
			<key>displayName</key>
			<string>Rotation</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>type</key>
			<string>StringSimple</string>
			<key>name</key>
			<string>uuid</string>
			<key>displayName</key>
			<string>UUID</string>
			<key>hidden</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Physics Enabled</string>
			<key>name</key>
			<string>physicsEnabled</string>
			<key>type</key>
			<string>Check</string>
			<key>hidden</key>
			<true/>
			<key>dontSetInEditor</key>
			<true/>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Dynamic Physics</string>
			<key>name</key>
			<string>physicsBodyDynamic</string>
			<key>type</key>
			<string>Check</string>
			<key>hidden</key>
			<true/>
			<key>dontSetInEditor</key>
			<true/>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Friction</string>
			<key>name</key>
			<string>physicsBodyFriction</string>
			<key>type</key>
			<string>Float</string>
			<key>hidden</key>
			<true/>
			<key>dontSetInEditor</key>
			<true/>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Allows rotation</string>
			<key>name</key>
			<string>physicsBodyAllowsRotation</string>
			<key>type</key>
			<string>Check</string>
			<key>hidden</key>
			<true/>
			<key>dontSetInEditor</key>
			<true/>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Elasticity</string>
			<key>name</key>
			<string>physicsBodyRestitution</string>
			<key>type</key>
			<string>Float</string>
			<key>hidden</key>
			<true/>
			<key>dontSetInEditor</key>
			<true/>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Density</string>
			<key>name</key>
			<string>physicsBodyDensity</string>
			<key>type</key>
			<string>Float</string>
			<key>hidden</key>
			<true/>
			<key>dontSetInEditor</key>
			<true/>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Affected by gravity</string>
			<key>name</key>
			<string>physicsBodyAffectedByGravity</string>
			<key>type</key>
			<string>Check</string>
			<key>hidden</key>
			<true/>
			<key>dontSetInEditor</key>
			<true/>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>User can drag</string>
			<key>name</key>
			<string>allowsUserDragging</string>
			<key>type</key>
			<string>Check</string>
			<key>hidden</key>
			<true/>
			<key>dontSetInEditor</key>
			<true/>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array/>
	<key>actionChangeableProperties</key>
	<array>
		<dict>
			<key>inspectorLabels</key>
			<array>
				<dict>
					<key>propertyName</key>
					<string>scaleX</string>
					<key>displayName</key>
					<string>X</string>
				</dict>
				<dict>
					<key>propertyName</key>
					<string>scaleY</string>
					<key>displayName</key>
					<string>Y</string>
				</dict>
			</array>
			<key>displayName</key>
			<string>Scale</string>
			<key>inspectorType</key>
			<string>ExpressionPair</string>
			<key>propertyName</key>
			<string>scale</string>
		</dict>
		<dict>
			<key>inspectorLabels</key>
			<array>
				<dict>
					<key>propertyName</key>
					<string>rotation</string>
					<key>displayName</key>
					<string>Rotation</string>
				</dict>
			</array>
			<key>displayName</key>
			<string>Rotation</string>
			<key>inspectorType</key>
			<string>Expression</string>
			<key>propertyName</key>
			<string>rotation</string>
		</dict>
		<dict>
			<key>inspectorLabels</key>
			<array>
				<dict>
					<key>propertyName</key>
					<string>visible</string>
					<key>displayName</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>displayName</key>
			<string>Visible</string>
			<key>inspectorType</key>
			<string>Check</string>
			<key>propertyName</key>
			<string>visible</string>
		</dict>
		<dict>
			<key>inspectorLabels</key>
			<array>
				<dict>
					<key>propertyName</key>
					<string>width</string>
					<key>displayName</key>
					<string>Width</string>
				</dict>
				<dict>
					<key>propertyName</key>
					<string>height</string>
					<key>displayName</key>
					<string>Height</string>
				</dict>
			</array>
			<key>displayName</key>
			<string>Content Size</string>
			<key>inspectorType</key>
			<string>ExpressionPair</string>
			<key>propertyName</key>
			<string>contentSize</string>
		</dict>
		<dict>
			<key>inspectorLabels</key>
			<array>
				<dict>
					<key>propertyName</key>
					<string>x</string>
					<key>displayName</key>
					<string>X</string>
				</dict>
				<dict>
					<key>propertyName</key>
					<string>y</string>
					<key>displayName</key>
					<string>Y</string>
				</dict>
			</array>
			<key>displayName</key>
			<string>Position</string>
			<key>inspectorType</key>
			<string>ExpressionPair</string>
			<key>propertyName</key>
			<string>position</string>
		</dict>
		<dict>
			<key>inspectorLabels</key>
			<array>
				<dict>
					<key>propertyName</key>
					<string>opacity</string>
					<key>displayName</key>
					<string>Opacity</string>
				</dict>
			</array>
			<key>displayName</key>
			<string>Opacity</string>
			<key>inspectorType</key>
			<string>Expression</string>
			<key>propertyName</key>
			<string>opacity</string>
		</dict>
	</array>
	<key>migratedProperties</key>
	<array/>
</dict>
</plist>
