<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>representationTemplate</key>
	<string>{{{ fingerPaintNodeExpression }}}.clear()</string>
	<key>analyticsString</key>
	<string>Then Clear Fingerpaint Node</string>
</dict>
</plist>
