<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>Force</string>
	<key>javaScriptClassName</key>
	<string>ForceObject</string>
	<key>ordering</key>
	<real>4000</real>
	<key>description</key>
	<string>Place an arrow that gives motion to your creations.</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>PCForceNode</string>
	<key>editorClassName</key>
	<string>PCForceNode</string>
	<key>editorSpriteKitClassName</key>
	<string>PCSKForceNode</string>
	<key>actionChangeableProperties</key>
	<array>
		<dict>
			<key>inspectorLabels</key>
			<array>
				<dict>
					<key>propertyName</key>
					<string>enabled</string>
					<key>displayName</key>
					<string>Enabled</string>
				</dict>
			</array>
			<key>displayName</key>
			<string>Enabled</string>
			<key>inspectorType</key>
			<string>Check</string>
			<key>propertyName</key>
			<string>enabled</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>Force</string>
			<key>name</key>
			<string>PCForceNode</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>type</key>
			<string>Check</string>
			<key>default</key>
			<integer>1</integer>
			<key>name</key>
			<string>enabled</string>
			<key>displayName</key>
			<string>Enabled</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>type</key>
			<string>Check</string>
			<key>default</key>
			<integer>0</integer>
			<key>name</key>
			<string>drawArrow</string>
			<key>displayName</key>
			<string>Make arrow visible</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>default</key>
			<array>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>default</key>
			<array>
				<real>0.5</real>
				<integer>0</integer>
			</array>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>anchorPoint</string>
			<key>displayName</key>
			<string>Anchor point</string>
		</dict>
	</array>
</dict>
</plist>
