<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>Card</string>
	<key>javaScriptClassName</key>
	<string>CardObject</string>
	<key>description</key>
	<string>Card</string>
	<key>ordering</key>
	<real>4000</real>
	<key>inheritsFrom</key>
	<string>CCNodeColor</string>
	<key>canHaveChildren</key>
	<true/>
	<key>className</key>
	<string>PCSlideNode</string>
	<key>spriteKitClassName</key>
	<string>PCSKSlideNode</string>
	<key>editorClassName</key>
	<string>PCSlideNode</string>
	<key>editorSpriteKitClassName</key>
	<string>PCSKSlideNode</string>
	<key>actionChangeablePropertiesOverridden</key>
	<array>
		<dict>
			<key>propertyName</key>
			<string>scale</string>
			<key>disabled</key>
			<true/>
		</dict>
		<dict>
			<key>propertyName</key>
			<string>rotation</string>
			<key>disabled</key>
			<true/>
		</dict>
		<dict>
			<key>propertyName</key>
			<string>visible</string>
			<key>disabled</key>
			<true/>
		</dict>
		<dict>
			<key>propertyName</key>
			<string>contentSize</string>
			<key>disabled</key>
			<true/>
		</dict>
		<dict>
			<key>propertyName</key>
			<string>position</string>
			<key>disabled</key>
			<true/>
		</dict>
		<dict>
			<key>propertyName</key>
			<string>opacity</string>
			<key>disabled</key>
			<true/>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>Card</string>
			<key>name</key>
			<string>PCSlideNode</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
			<key>propertyCategory</key>
			<string>physics</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>autocreatePhysicsBoundaries</string>
			<key>displayName</key>
			<string>Autocreate Physics Boundaries</string>
			<key>propertyCategory</key>
			<string>physics</string>
			<key>default</key>
			<true/>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>followAccelerometer</string>
			<key>displayName</key>
			<string>Follow Accelerometer</string>
			<key>propertyCategory</key>
			<string>physics</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>0</integer>
				<real>-9.81</real>
			</array>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>gravity</string>
			<key>displayName</key>
			<string>Gravity</string>
			<key>propertyCategory</key>
			<string>physics</string>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>default</key>
			<string>Card</string>
			<key>type</key>
			<string>StringSimple</string>
			<key>name</key>
			<string>name</string>
			<key>displayName</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>displayName</key>
			<string>Position</string>
			<key>type</key>
			<string>Position</string>
			<key>name</key>
			<string>position</string>
		</dict>
		<dict>
			<key>animatable</key>
			<false/>
			<key>type</key>
			<string>ScaleLock</string>
			<key>name</key>
			<string>scale</string>
			<key>displayName</key>
			<string>Scale</string>
			<key>readOnly</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>anchorPoint</string>
			<key>displayName</key>
			<string>Anchor point</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>animatable</key>
			<true/>
			<key>type</key>
			<string>Degrees</string>
			<key>name</key>
			<string>rotation</string>
			<key>displayName</key>
			<string>Rotation</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>name</key>
			<string>opacity</string>
		</dict>
	</array>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>PCSprite</string>
		<key>property</key>
		<string>spriteFrame</string>
	</dict>
</dict>
</plist>
