<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>Video</string>
	<key>javaScriptClassName</key>
	<string>VideoView</string>
	<key>ordering</key>
	<real>4000</real>
	<key>description</key>
	<string>Inserts a video</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>PCVideoPlayer</string>
	<key>editorClassName</key>
	<string>PCVideoPlayer</string>
	<key>editorSpriteKitClassName</key>
	<string>PCSKVideoPlayer</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<false/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>hidden</key>
			<false/>
			<key>displayName</key>
			<string>Video</string>
			<key>name</key>
			<string>PCVideoPlayer</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>hidden</key>
			<false/>
			<key>displayName</key>
			<string>Video</string>
			<key>name</key>
			<string>fileUUID</string>
			<key>type</key>
			<string>ResourceUUID</string>
			<key>resourceType</key>
			<string>Video</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Show User Controls</string>
			<key>name</key>
			<string>showUserControls</string>
			<key>type</key>
			<string>Check</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Trim</string>
			<key>name</key>
			<string>timelineTrimTimes</string>
			<key>inspectorType</key>
			<string>TimelineTrim</string>
			<key>type</key>
			<string>Array</string>
			<key>default</key>
			<array>
				<real>0</real>
				<integer>-1</integer>
			</array>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Poster Frame</string>
			<key>name</key>
			<string>posterFrameTime</string>
			<key>inspectorType</key>
			<string>TimelinePoint</string>
			<key>type</key>
			<string>Float</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Duration</string>
			<key>name</key>
			<string>duration</string>
			<key>hidden</key>
			<true/>
			<key>type</key>
			<string>Float</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Natural Size</string>
			<key>name</key>
			<string>naturalSize</string>
			<key>hidden</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Repeat</string>
			<key>name</key>
			<string>timelineRepeat</string>
			<key>type</key>
			<string>Integer</string>
			<key>inspectorType</key>
			<string>TimelineRepeat</string>
			<key>default</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>autoplay</string>
			<key>displayName</key>
			<string>Auto Play</string>
		</dict>
		<dict>
			<key>stepAmount</key>
			<real>0.25</real>
			<key>hidden</key>
			<true/>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Playback Time</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>playbackTime</string>
			<key>maximum</key>
			<integer>5</integer>
			<key>minimum</key>
			<integer>0</integer>
			<key>multiplier</key>
			<integer>100</integer>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>stepAmount</key>
			<real>0.25</real>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Playback Rate</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>playbackRate</string>
			<key>maximum</key>
			<integer>5</integer>
			<key>minimum</key>
			<integer>0</integer>
			<key>multiplier</key>
			<integer>100</integer>
			<key>scriptingInfo</key>
			<dict/>
		</dict>
	</array>
	<key>actionChangeableProperties</key>
	<array/>
	<key>migratedProperties</key>
	<array>
		<dict>
			<key>originalName</key>
			<string>filePath</string>
			<key>newName</key>
			<string>fileUUID</string>
		</dict>
	</array>
</dict>
</plist>
